# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
ApacheFlink/flink-quickstart-scala/.idea/**/workspace.xml
ApacheFlink/flink-quickstart-scala/.idea/**/tasks.xml
ApacheFlink/flink-quickstart-scala/.idea/**/dictionaries
ApacheFlink/flink-quickstart-scala/.idea/**/shelf

# Sensitive or high-churn files
ApacheFlink/flink-quickstart-scala/.idea/**/dataSources/
ApacheFlink/flink-quickstart-scala/.idea/**/dataSources.ids
ApacheFlink/flink-quickstart-scala/.idea/**/dataSources.local.xml
ApacheFlink/flink-quickstart-scala/.idea/**/sqlDataSources.xml
ApacheFlink/flink-quickstart-scala/.idea/**/dynamic.xml
ApacheFlink/flink-quickstart-scala/.idea/**/uiDesigner.xml
ApacheFlink/flink-quickstart-scala/.idea/**/dbnavigator.xml

# Gradle
ApacheFlink/flink-quickstart-scala/.idea/**/gradle.xml
ApacheFlink/flink-quickstart-scala/.idea/**/libraries

# CMake
ApacheFlink/flink-quickstart-scala/cmake-build-debug/
ApacheFlink/flink-quickstart-scala/cmake-build-release/

# Mongo Explorer plugin
ApacheFlink/flink-quickstart-scala/.idea/**/mongoSettings.xml

# File-based project format
ApacheFlink/flink-quickstart-scala/*.iws

# IntelliJ
ApacheFlink/flink-quickstart-scala/out/

# mpeltonen/sbt-idea plugin
ApacheFlink/flink-quickstart-scala/.idea_modules/

# JIRA plugin
ApacheFlink/flink-quickstart-scala/atlassian-ide-plugin.xml

# Cursive Clojure plugin
ApacheFlink/flink-quickstart-scala/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
ApacheFlink/flink-quickstart-scala/com_crashlytics_export_strings.xml
ApacheFlink/flink-quickstart-scala/crashlytics.properties
ApacheFlink/flink-quickstart-scala/crashlytics-build.properties
ApacheFlink/flink-quickstart-scala/fabric.properties

# Editor-based Rest Client
ApacheFlink/flink-quickstart-scala/.idea/httpRequests
### Scala template
ApacheFlink/flink-quickstart-scala/*.class
ApacheFlink/flink-quickstart-scala/*.log
### Maven template
ApacheFlink/flink-quickstart-scala/target/
ApacheFlink/flink-quickstart-scala/pom.xml.tag
ApacheFlink/flink-quickstart-scala/pom.xml.releaseBackup
ApacheFlink/flink-quickstart-scala/pom.xml.versionsBackup
ApacheFlink/flink-quickstart-scala/pom.xml.next
ApacheFlink/flink-quickstart-scala/release.properties
ApacheFlink/flink-quickstart-scala/dependency-reduced-pom.xml
ApacheFlink/flink-quickstart-scala/buildNumber.properties
ApacheFlink/flink-quickstart-scala/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/ApacheFlink/flink-quickstart-scala/.mvn/wrapper/maven-wrapper.jar
### Windows template
# Windows thumbnail cache files
ApacheFlink/flink-quickstart-scala/Thumbs.db
ApacheFlink/flink-quickstart-scala/ehthumbs.db
ApacheFlink/flink-quickstart-scala/ehthumbs_vista.db

# Dump file
ApacheFlink/flink-quickstart-scala/*.stackdump

# Folder config file
ApacheFlink/flink-quickstart-scala/[Dd]esktop.ini

# Recycle Bin used on file shares
ApacheFlink/flink-quickstart-scala/$RECYCLE.BIN/

# Windows Installer files
ApacheFlink/flink-quickstart-scala/*.cab
ApacheFlink/flink-quickstart-scala/*.msi
ApacheFlink/flink-quickstart-scala/*.msix
ApacheFlink/flink-quickstart-scala/*.msm
ApacheFlink/flink-quickstart-scala/*.msp

# Windows shortcuts
ApacheFlink/flink-quickstart-scala/*.lnk

### Python ###
# Byte-compiled / optimized / DLL files
Scripts/cepware-datagenerator-py/__pycache__/
Scripts/cepware-datagenerator-py/*.py[cod]
Scripts/cepware-datagenerator-py/*$py.class

# C extensions
Scripts/cepware-datagenerator-py/*.so

# Distribution / packaging
Scripts/cepware-datagenerator-py/.Python
Scripts/cepware-datagenerator-py/build/
Scripts/cepware-datagenerator-py/develop-eggs/
Scripts/cepware-datagenerator-py/dist/
Scripts/cepware-datagenerator-py/downloads/
Scripts/cepware-datagenerator-py/eggs/
Scripts/cepware-datagenerator-py/.eggs/
Scripts/cepware-datagenerator-py/lib/
Scripts/cepware-datagenerator-py/lib64/
Scripts/cepware-datagenerator-py/parts/
Scripts/cepware-datagenerator-py/sdist/
Scripts/cepware-datagenerator-py/var/
Scripts/cepware-datagenerator-py/wheels/
Scripts/cepware-datagenerator-py/share/python-wheels/
Scripts/cepware-datagenerator-py/*.egg-info/
Scripts/cepware-datagenerator-py/.installed.cfg
Scripts/cepware-datagenerator-py/*.egg
Scripts/cepware-datagenerator-py/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
Scripts/cepware-datagenerator-py/*.manifest
Scripts/cepware-datagenerator-py/*.spec

# Installer logs
Scripts/cepware-datagenerator-py/pip-log.txt
Scripts/cepware-datagenerator-py/pip-delete-this-directory.txt

# Unit test / coverage reports
Scripts/cepware-datagenerator-py/htmlcov/
Scripts/cepware-datagenerator-py/.tox/
Scripts/cepware-datagenerator-py/.nox/
Scripts/cepware-datagenerator-py/.coverage
Scripts/cepware-datagenerator-py/.coverage.*
Scripts/cepware-datagenerator-py/.cache
Scripts/cepware-datagenerator-py/nosetests.xml
Scripts/cepware-datagenerator-py/coverage.xml
Scripts/cepware-datagenerator-py/*.cover
Scripts/cepware-datagenerator-py/.hypothesis/
Scripts/cepware-datagenerator-py/.pytest_cache/

# Translations
Scripts/cepware-datagenerator-py/*.mo
Scripts/cepware-datagenerator-py/*.pot

# Django stuff:
Scripts/cepware-datagenerator-py/*.log
Scripts/cepware-datagenerator-py/local_settings.py
Scripts/cepware-datagenerator-py/db.sqlite3

# Flask stuff:
Scripts/cepware-datagenerator-py/instance/
Scripts/cepware-datagenerator-py/.webassets-cache

# Scrapy stuff:
Scripts/cepware-datagenerator-py/.scrapy

# Sphinx documentation
Scripts/cepware-datagenerator-py/docs/_build/

# PyBuilder
Scripts/cepware-datagenerator-py/target/

# Jupyter Notebook
Scripts/cepware-datagenerator-py/.ipynb_checkpoints

# IPython
Scripts/cepware-datagenerator-py/profile_default/
Scripts/cepware-datagenerator-py/ipython_config.py

# pyenv
Scripts/cepware-datagenerator-py/.python-version

# celery beat schedule file
Scripts/cepware-datagenerator-py/celerybeat-schedule

# SageMath parsed files
Scripts/cepware-datagenerator-py/*.sage.py

# Environments
Scripts/cepware-datagenerator-py/.env
Scripts/cepware-datagenerator-py/.venv
Scripts/cepware-datagenerator-py/env/
Scripts/cepware-datagenerator-py/venv/
Scripts/cepware-datagenerator-py/ENV/
Scripts/cepware-datagenerator-py/env.bak/
Scripts/cepware-datagenerator-py/venv.bak/

# Spyder project settings
Scripts/cepware-datagenerator-py/.spyderproject
Scripts/cepware-datagenerator-py/.spyproject

# Rope project settings
Scripts/cepware-datagenerator-py/.ropeproject

# mkdocs documentation
Scripts/cepware-datagenerator-py//site

# mypy
Scripts/cepware-datagenerator-py/.mypy_cache/
Scripts/cepware-datagenerator-py/.dmypy.json
Scripts/cepware-datagenerator-py/dmypy.json

# Pyre type checker
Scripts/cepware-datagenerator-py/.pyre/

### Python Patch ###
Scripts/cepware-datagenerator-py/.venv/

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
Scripts/cepware-datagenerator-py/.idea/**/workspace.xml
Scripts/cepware-datagenerator-py/.idea/**/tasks.xml
Scripts/cepware-datagenerator-py/.idea/**/usage.statistics.xml
Scripts/cepware-datagenerator-py/.idea/**/dictionaries
Scripts/cepware-datagenerator-py/.idea/**/shelf

# Generated files
Scripts/cepware-datagenerator-py/.idea/**/contentModel.xml

# Sensitive or high-churn files
Scripts/cepware-datagenerator-py/.idea/**/dataSources/
Scripts/cepware-datagenerator-py/.idea/**/dataSources.ids
Scripts/cepware-datagenerator-py/.idea/**/dataSources.local.xml
Scripts/cepware-datagenerator-py/.idea/**/sqlDataSources.xml
Scripts/cepware-datagenerator-py/.idea/**/dynamic.xml
Scripts/cepware-datagenerator-py/.idea/**/uiDesigner.xml
Scripts/cepware-datagenerator-py/.idea/**/dbnavigator.xml

# Gradle
Scripts/cepware-datagenerator-py/.idea/**/gradle.xml
Scripts/cepware-datagenerator-py/.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# CMake
Scripts/cepware-datagenerator-py/cmake-build-*/

# Mongo Explorer plugin
Scripts/cepware-datagenerator-py/.idea/**/mongoSettings.xml

# File-based project format
Scripts/cepware-datagenerator-py/*.iws

# IntelliJ
Scripts/cepware-datagenerator-py/out/

# mpeltonen/sbt-idea plugin
Scripts/cepware-datagenerator-py/.idea_modules/

# JIRA plugin
Scripts/cepware-datagenerator-py/atlassian-ide-plugin.xml

# Cursive Clojure plugin
Scripts/cepware-datagenerator-py/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
Scripts/cepware-datagenerator-py/com_crashlytics_export_strings.xml
Scripts/cepware-datagenerator-py/crashlytics.properties
Scripts/cepware-datagenerator-py/crashlytics-build.properties
Scripts/cepware-datagenerator-py/fabric.properties

# Editor-based Rest Client
Scripts/cepware-datagenerator-py/.idea/httpRequests

# Android studio 3.1+ serialized cache file
Scripts/cepware-datagenerator-py/.idea/caches/build_file_checksums.ser

### PyCharm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
Scripts/cepware-datagenerator-py/.idea/sonarlint

### C++ ###
# Prerequisites
Scripts/cepware-datagenerator-cpp/*.d

# Compiled Object files
Scripts/cepware-datagenerator-cpp/*.slo
Scripts/cepware-datagenerator-cpp/*.lo
Scripts/cepware-datagenerator-cpp/*.o
Scripts/cepware-datagenerator-cpp/*.obj

# Precompiled Headers
Scripts/cepware-datagenerator-cpp/*.gch
Scripts/cepware-datagenerator-cpp/*.pch

# Compiled Dynamic libraries
Scripts/cepware-datagenerator-cpp/*.so
Scripts/cepware-datagenerator-cpp/*.dylib
Scripts/cepware-datagenerator-cpp/*.dll

# Fortran module files
Scripts/cepware-datagenerator-cpp/*.mod
Scripts/cepware-datagenerator-cpp/*.smod

# Compiled Static libraries
Scripts/cepware-datagenerator-cpp/*.lai
Scripts/cepware-datagenerator-cpp/*.la
Scripts/cepware-datagenerator-cpp/*.a
Scripts/cepware-datagenerator-cpp/*.lib

# Executables
Scripts/cepware-datagenerator-cpp/*.exe
Scripts/cepware-datagenerator-cpp/*.out
Scripts/cepware-datagenerator-cpp/*.app

### CLion ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
Scripts/cepware-datagenerator-cpp/.idea/**/workspace.xml
Scripts/cepware-datagenerator-cpp/.idea/**/tasks.xml
Scripts/cepware-datagenerator-cpp/.idea/**/usage.statistics.xml
Scripts/cepware-datagenerator-cpp/.idea/**/dictionaries
Scripts/cepware-datagenerator-cpp/.idea/**/shelf

# Generated files
Scripts/cepware-datagenerator-cpp/.idea/**/contentModel.xml

# Sensitive or high-churn files
Scripts/cepware-datagenerator-cpp/.idea/**/dataSources/
Scripts/cepware-datagenerator-cpp/.idea/**/dataSources.ids
Scripts/cepware-datagenerator-cpp/.idea/**/dataSources.local.xml
Scripts/cepware-datagenerator-cpp/.idea/**/sqlDataSources.xml
Scripts/cepware-datagenerator-cpp/.idea/**/dynamic.xml
Scripts/cepware-datagenerator-cpp/.idea/**/uiDesigner.xml
Scripts/cepware-datagenerator-cpp/.idea/**/dbnavigator.xml

# Gradle
Scripts/cepware-datagenerator-cpp/.idea/**/gradle.xml
Scripts/cepware-datagenerator-cpp/.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# CMake
Scripts/cepware-datagenerator-cpp/cmake-build-*/

# Mongo Explorer plugin
Scripts/cepware-datagenerator-cpp/.idea/**/mongoSettings.xml

# File-based project format
Scripts/cepware-datagenerator-cpp/*.iws

# IntelliJ
Scripts/cepware-datagenerator-cpp/out/

# mpeltonen/sbt-idea plugin
Scripts/cepware-datagenerator-cpp/.idea_modules/

# JIRA plugin
Scripts/cepware-datagenerator-cpp/atlassian-ide-plugin.xml

# Cursive Clojure plugin
Scripts/cepware-datagenerator-cpp/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
Scripts/cepware-datagenerator-cpp/com_crashlytics_export_strings.xml
Scripts/cepware-datagenerator-cpp/crashlytics.properties
Scripts/cepware-datagenerator-cpp/crashlytics-build.properties
Scripts/cepware-datagenerator-cpp/fabric.properties

# Editor-based Rest Client
Scripts/cepware-datagenerator-cpp/.idea/httpRequests

# Android studio 3.1+ serialized cache file
Scripts/cepware-datagenerator-cpp/.idea/caches/build_file_checksums.ser

### CLion Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
Scripts/cepware-datagenerator-cpp/.idea/sonarlint

### CMake ###
Scripts/cepware-datagenerator-cpp/CMakeLists.txt.user
Scripts/cepware-datagenerator-cpp/CMakeCache.txt
Scripts/cepware-datagenerator-cpp/CMakeFiles
Scripts/cepware-datagenerator-cpp/CMakeScripts
Scripts/cepware-datagenerator-cpp/Testing
Scripts/cepware-datagenerator-cpp/Makefile
Scripts/cepware-datagenerator-cpp/cmake_install.cmake
Scripts/cepware-datagenerator-cpp/install_manifest.txt
Scripts/cepware-datagenerator-cpp/compile_commands.json
Scripts/cepware-datagenerator-cpp/CTestTestfile.cmake

### Go ###
# Binaries for programs and plugins
Scripts/cepware-datagenerator-go/*.exe
Scripts/cepware-datagenerator-go/*.exe~
Scripts/cepware-datagenerator-go/*.dll
Scripts/cepware-datagenerator-go/*.so
Scripts/cepware-datagenerator-go/*.dylib

# Test binary, build with `go test -c`
Scripts/cepware-datagenerator-go/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
Scripts/cepware-datagenerator-go/*.out

### Go Patch ###
Scripts/cepware-datagenerator-go/vendor/
Scripts/cepware-datagenerator-go/Godeps/

### JetBrains ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
Scripts/cepware-datagenerator-go/.idea/**/workspace.xml
Scripts/cepware-datagenerator-go/.idea/**/tasks.xml
Scripts/cepware-datagenerator-go/.idea/**/usage.statistics.xml
Scripts/cepware-datagenerator-go/.idea/**/dictionaries
Scripts/cepware-datagenerator-go/.idea/**/shelf

# Generated files
Scripts/cepware-datagenerator-go/.idea/**/contentModel.xml

# Sensitive or high-churn files
Scripts/cepware-datagenerator-go/.idea/**/dataSources/
Scripts/cepware-datagenerator-go/.idea/**/dataSources.ids
Scripts/cepware-datagenerator-go/.idea/**/dataSources.local.xml
Scripts/cepware-datagenerator-go/.idea/**/sqlDataSources.xml
Scripts/cepware-datagenerator-go/.idea/**/dynamic.xml
Scripts/cepware-datagenerator-go/.idea/**/uiDesigner.xml
Scripts/cepware-datagenerator-go/.idea/**/dbnavigator.xml

# Gradle
Scripts/cepware-datagenerator-go/.idea/**/gradle.xml
Scripts/cepware-datagenerator-go/.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# CMake
Scripts/cepware-datagenerator-go/cmake-build-*/

# Mongo Explorer plugin
Scripts/cepware-datagenerator-go/.idea/**/mongoSettings.xml

# File-based project format
Scripts/cepware-datagenerator-go/*.iws

# IntelliJ
Scripts/cepware-datagenerator-go/out/

# mpeltonen/sbt-idea plugin
Scripts/cepware-datagenerator-go/.idea_modules/

# JIRA plugin
Scripts/cepware-datagenerator-go/atlassian-ide-plugin.xml

# Cursive Clojure plugin
Scripts/cepware-datagenerator-go/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
Scripts/cepware-datagenerator-go/com_crashlytics_export_strings.xml
Scripts/cepware-datagenerator-go/crashlytics.properties
Scripts/cepware-datagenerator-go/crashlytics-build.properties
Scripts/cepware-datagenerator-go/fabric.properties

# Editor-based Rest Client
Scripts/cepware-datagenerator-go/.idea/httpRequests

# Android studio 3.1+ serialized cache file
Scripts/cepware-datagenerator-go/.idea/caches/build_file_checksums.ser

### JetBrains Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
Scripts/cepware-datagenerator-go/.idea/sonarlint
