# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
ApacheFlink/flink-quickstart-scala/.idea/**/workspace.xml
ApacheFlink/flink-quickstart-scala/.idea/**/tasks.xml
ApacheFlink/flink-quickstart-scala/.idea/**/dictionaries
ApacheFlink/flink-quickstart-scala/.idea/**/shelf

# Sensitive or high-churn files
ApacheFlink/flink-quickstart-scala/.idea/**/dataSources/
ApacheFlink/flink-quickstart-scala/.idea/**/dataSources.ids
ApacheFlink/flink-quickstart-scala/.idea/**/dataSources.local.xml
ApacheFlink/flink-quickstart-scala/.idea/**/sqlDataSources.xml
ApacheFlink/flink-quickstart-scala/.idea/**/dynamic.xml
ApacheFlink/flink-quickstart-scala/.idea/**/uiDesigner.xml
ApacheFlink/flink-quickstart-scala/.idea/**/dbnavigator.xml

# Gradle
ApacheFlink/flink-quickstart-scala/.idea/**/gradle.xml
ApacheFlink/flink-quickstart-scala/.idea/**/libraries

# CMake
ApacheFlink/flink-quickstart-scala/cmake-build-debug/
ApacheFlink/flink-quickstart-scala/cmake-build-release/

# Mongo Explorer plugin
ApacheFlink/flink-quickstart-scala/.idea/**/mongoSettings.xml

# File-based project format
ApacheFlink/flink-quickstart-scala/*.iws

# IntelliJ
ApacheFlink/flink-quickstart-scala/out/

# mpeltonen/sbt-idea plugin
ApacheFlink/flink-quickstart-scala/.idea_modules/

# JIRA plugin
ApacheFlink/flink-quickstart-scala/atlassian-ide-plugin.xml

# Cursive Clojure plugin
ApacheFlink/flink-quickstart-scala/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
ApacheFlink/flink-quickstart-scala/com_crashlytics_export_strings.xml
ApacheFlink/flink-quickstart-scala/crashlytics.properties
ApacheFlink/flink-quickstart-scala/crashlytics-build.properties
ApacheFlink/flink-quickstart-scala/fabric.properties

# Editor-based Rest Client
ApacheFlink/flink-quickstart-scala/.idea/httpRequests
### Scala template
ApacheFlink/flink-quickstart-scala/*.class
ApacheFlink/flink-quickstart-scala/*.log
### Maven template
ApacheFlink/flink-quickstart-scala/target/
ApacheFlink/flink-quickstart-scala/pom.xml.tag
ApacheFlink/flink-quickstart-scala/pom.xml.releaseBackup
ApacheFlink/flink-quickstart-scala/pom.xml.versionsBackup
ApacheFlink/flink-quickstart-scala/pom.xml.next
ApacheFlink/flink-quickstart-scala/release.properties
ApacheFlink/flink-quickstart-scala/dependency-reduced-pom.xml
ApacheFlink/flink-quickstart-scala/buildNumber.properties
ApacheFlink/flink-quickstart-scala/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/ApacheFlink/flink-quickstart-scala/.mvn/wrapper/maven-wrapper.jar
### Windows template
# Windows thumbnail cache files
ApacheFlink/flink-quickstart-scala/Thumbs.db
ApacheFlink/flink-quickstart-scala/ehthumbs.db
ApacheFlink/flink-quickstart-scala/ehthumbs_vista.db

# Dump file
ApacheFlink/flink-quickstart-scala/*.stackdump

# Folder config file
ApacheFlink/flink-quickstart-scala/[Dd]esktop.ini

# Recycle Bin used on file shares
ApacheFlink/flink-quickstart-scala/$RECYCLE.BIN/

# Windows Installer files
ApacheFlink/flink-quickstart-scala/*.cab
ApacheFlink/flink-quickstart-scala/*.msi
ApacheFlink/flink-quickstart-scala/*.msix
ApacheFlink/flink-quickstart-scala/*.msm
ApacheFlink/flink-quickstart-scala/*.msp

# Windows shortcuts
ApacheFlink/flink-quickstart-scala/*.lnk

### Go ###
# Binaries for programs and plugins
Scripts/cepware-datagenerator-go/*.exe
Scripts/cepware-datagenerator-go/*.exe~
Scripts/cepware-datagenerator-go/*.dll
Scripts/cepware-datagenerator-go/*.so
Scripts/cepware-datagenerator-go/*.dylib

# Test binary, build with `go test -c`
Scripts/cepware-datagenerator-go/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
Scripts/cepware-datagenerator-go/*.out

### Go Patch ###
Scripts/cepware-datagenerator-go/vendor/
Scripts/cepware-datagenerator-go/Godeps/

### JetBrains ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
Scripts/cepware-datagenerator-go/.idea/**/workspace.xml
Scripts/cepware-datagenerator-go/.idea/**/tasks.xml
Scripts/cepware-datagenerator-go/.idea/**/usage.statistics.xml
Scripts/cepware-datagenerator-go/.idea/**/dictionaries
Scripts/cepware-datagenerator-go/.idea/**/shelf

# Generated files
Scripts/cepware-datagenerator-go/.idea/**/contentModel.xml

# Sensitive or high-churn files
Scripts/cepware-datagenerator-go/.idea/**/dataSources/
Scripts/cepware-datagenerator-go/.idea/**/dataSources.ids
Scripts/cepware-datagenerator-go/.idea/**/dataSources.local.xml
Scripts/cepware-datagenerator-go/.idea/**/sqlDataSources.xml
Scripts/cepware-datagenerator-go/.idea/**/dynamic.xml
Scripts/cepware-datagenerator-go/.idea/**/uiDesigner.xml
Scripts/cepware-datagenerator-go/.idea/**/dbnavigator.xml

# Gradle
Scripts/cepware-datagenerator-go/.idea/**/gradle.xml
Scripts/cepware-datagenerator-go/.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# CMake
Scripts/cepware-datagenerator-go/cmake-build-*/

# Mongo Explorer plugin
Scripts/cepware-datagenerator-go/.idea/**/mongoSettings.xml

# File-based project format
Scripts/cepware-datagenerator-go/*.iws

# IntelliJ
Scripts/cepware-datagenerator-go/out/

# mpeltonen/sbt-idea plugin
Scripts/cepware-datagenerator-go/.idea_modules/

# JIRA plugin
Scripts/cepware-datagenerator-go/atlassian-ide-plugin.xml

# Cursive Clojure plugin
Scripts/cepware-datagenerator-go/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
Scripts/cepware-datagenerator-go/com_crashlytics_export_strings.xml
Scripts/cepware-datagenerator-go/crashlytics.properties
Scripts/cepware-datagenerator-go/crashlytics-build.properties
Scripts/cepware-datagenerator-go/fabric.properties

# Editor-based Rest Client
Scripts/cepware-datagenerator-go/.idea/httpRequests

# Android studio 3.1+ serialized cache file
Scripts/cepware-datagenerator-go/.idea/caches/build_file_checksums.ser

### JetBrains Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
Scripts/cepware-datagenerator-go/.idea/sonarlint
